@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');


body{
        background-image: url("resources/Pink\ Wallpaper.jpg");

}
.poster{
        background-image: url(resources/Background.jpg);
        height: 3000px;
        min-height: 100vh;
        width: 1000px;
        padding: 20px;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.61); 
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.61);
        box-sizing: border-box;
        background-size: cover;
        margin-top: 50px;
        margin-bottom: 50px;
        margin: 0 auto;  
}
.poster1{
        background-image: url(resources/Background.jpg);
        height: 3500px;
        min-height: 100vh;
        width: 1000px;
        padding: 20px;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.61); 
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.61);
        box-sizing: border-box;
        background-size: cover;
        margin-top: 50px;
        margin-bottom: 50px;
        margin: 0 auto;  
}
.poster2{
        background-image: url(resources/Background.jpg);
        height: 2000px;
        min-height: 100vh;
        width: 1000px;
        padding: 20px;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.61); 
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.61);
        box-sizing: border-box;
        background-size: cover;
        margin-top: 50px;
        margin-bottom: 50px;
        margin: 0 auto;  
}
nav{
  width: 100%;
  margin: 0;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-sizing: border-box;
  width: 100%;
}
.logo a {
  font-weight: bold;
  font-size: 30px;
  font-family: "Sniglet", system-ui;
  text-decoration: none;
  color:black;
  margin-left: 10pt;
}
.option{
  display: flex;
  list-style: none;
}
.option li{
  margin: 10pt;
  background-color: rgb(248, 218, 233);
  border-radius: 10px;
  padding: 3px;
  width: fit-content;
}
.option li a{
  color: black;
  text-decoration: none;
  font-family: "Sniglet", system-ui;
  font-size: 20px;
}
h1{
  font-family: "Agbalumo", system-ui;
  font-size: 50pt;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}